.header
  .topbar
    a.w-inline-block(href="/home.html" title='Home')
      img(src="./notemask-logo.svg" alt="" class="logo-desktop")
      img(src="./notemask-logo-mobile.svg" alt="" class="logo-mobile")
    .lang-selector
      .select.language
        select#language(name='self-desctucts')
          option(value='1') English
          option(value='2') Russian
          option(value='3') Latvian
  .main-h1-block
    h1.heading 
      block heading