extends _layout.pug

block title
  | Confirm - Notemask
  
block heading
  | Read and destroy?
  
block content
  .info-block You're about to read and destroy the note with id <b>iAprlmFg</b>
  .button-group
    .primary-button.w-button Yes, show me the note
    .secondary-button.w-button No, not now