extends _layout.pug

block title
  | Confirm with password - Notemask
  
block heading
  | Read and destroy?
  
block content
  .info-block
    | You're about to read and destroy the note with id <b>iAprlmFg</b>
    | You will be asked for the password to read the note.
    | If you don't have it, ask the person who sent you the note for it, before proceeding.
  .button-group
    .primary-button.w-button Yes, show me the note
    .secondary-button.w-button No, not now