extends _layout.pug

block title
  | Destroyed - Notemask
  
block heading
  | Note contents
  
block content
  .warning-block This note was destroyed. If you need to keep it, copy it before closing this window!
  .info-block.note-preview Hello, this is note!
  .button-group
    .secondary-button.w-button Select note text