extends _layout.pug

block title
  | Enter password - Notemask
  
block heading
  | Note contents
  
block content
  .warning-block.big Do not close or reload this page or you will lose the note forever!
  .transparent-block
    h3 Note password
    .caption Enter the password to read this note
    form.flat
      input.ui-input(type='password' placeholder="")
      .primary-button.w-button Proceed
