<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    h1 Available HTML pages
    ul
      li
        a(href='/home.html') Home
      li
        a(href='/ready.html') Note ready
      li
        a(href='/ready-pass.html') Note ready with password
      li
        a(href='/destroyed.html') Destroyed
      li
        a(href='/confirm.html') Confirm
      li
        a(href='/confirm-pass.html') Confirm with password
      li
        a(href='/enter-password.html') Enter password